.cmp-accordion {
  min-width: 10rem;

  .cmp-accordion__item {
    overflow: hidden;

    &:first-child {
      margin-top: 0;
    }

    &:focus-within,
    & .cmp-accordion__trigger[data-focus="true"] {
      position: relative;
      z-index: 1;
    }

    &[data-disabled] {
      .cmp-accordion__chevron {
        visibility: hidden;
      }
    }

    &[data-fill="true"] {
      height: 100%;
      .cmp-accordion__content {
        height: 100%;
      }
      .cmp-accordion__content_text {
        height: 100%;
      }
    }
  }

  .cmp-accordion__header {
    display: flex;
    margin: 0;


    .cmp-accordion__header_btn {
      margin-left: auto;
      margin-right: 0.5rem;
      align-items: center;
      display: flex;
      color: var(--blue-10);
      > a {
        display: flex;
        color: var(--blue-10);
      }
    }
  }

  .cmp-accordion__trigger {
    border: none;
    font-family: inherit;
    padding: 10px 10px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: var(--primary-fg);
    background-color: var(--secondary-bg);
    border-bottom: 2px solid var(--slate-1);

    &:focus,
    &[data-focus="true"] {
      outline: none;
    }

    &:hover,
    &[data-hover="true"] {
      border-bottom: 2px solid var(--slate-1);
      background-color: var(--secondary-bg);
    }
  }

  .cmp-accordion__content {
    overflow: hidden;
    color: var(--slate-11);
    background-color: var(--primary-bg);
    text-align: left;

    &[data-state='open'] {
      animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
      border-bottom: 2px solid var(--slate-1);
    }
    &[data-state='closed'] {
      animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
    }
  }

  .cmp-accordion__content_text {
    font-size: 11px;
    padding: 10px;

    > .cmp-toolbar {
      padding: 3px;
      margin: -10px -10px 10px -10px;
      width: calc(100% + 20px);
      max-width: calc(100% + 20px);
      border-bottom: 2px solid var(--slate-1);
    }
  }

  .cmp-accordion__chevron {
    color: var(--blue-10);
    transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }
  .cmp-accordion__trigger[data-state='open'] > .cmp-accordion__chevron {
    transform: rotate(180deg);
  }
}
