.cmp-collapsible {
  min-width: 10rem;

  .cmp-collapsible__trigger {
    position: relative;
    z-index: 5;
    margin-left: -2px;

    &:hover {
      background-color: var(--secondary-bg);
    }

    .cmp-collapsible__trigger_inner {
      width: 100%;
      background-color: transparent;
      padding: 0;
      align-items: center;
      gap: 0.125rem;
      font-size: 11px;
      font-weight: bold;
      color: var(--primary-fg);
      display: flex;
      justify-content: space-between;

      & > div:nth-child(2) {
        margin-left: auto;
      }
    }
  }
  .cmp-collapsible__content {
    margin-top: 0.5rem;
    will-change: height;

    &[data-state='open'] {
      animation: slideDown 200ms ease-in-out;
    }
    &[data-state='closed'] {
      animation: slideUp 200ms ease-in-out;
    }
  }
}