.cmp-dialog {

  .cmp-dialog__overlay {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    inset: 0;
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }

  .cmp-dialog__content {
    background-color: var(--primary-bg);
    border-radius: 6px;
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90vw;
    min-width: 40vw;
    /*width: 500px;*/
    max-height: 85vh;
    padding: 25px;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
  .cmp-dialog__content:focus {
    outline: none;
  }

  .cmp-dialog__title {
    margin: 0;
    color: var(--primary-fg);
    font-size: 13px;
    font-weight: 500;
    text-align: left;
  }

  .cmp-dialog__description {
    margin-top: 0.5rem;
    margin-bottom: 20px;
    color: var(--primary-fg);
    font-size: 11px;
    line-height: 1.5;
    text-align: left;
  }

  .cmp-dialog__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    font-size: 11px;
    line-height: 1;
    font-weight: 500;
    height: 35px;

    border-radius: 4px;
    color: var(--primary-fg);
    background-color: var(--primary-bg);

    border: 1px solid var(--_button-border);
    &:hover {
      outline: 2px solid var(--_button-border);
      outline-offset: -1px;
    }
  }
  .cmp-dialog__button--default {
    --_button-border: var(--blue-6);
  }
  .cmp-dialog__button--secondary {
    --_button-border: var(--tertiary-fg);
  }
  .cmp-dialog__button--danger {
    --_button-border: var(--error-fg);
  }
}