.cmp-number-input {
  border-radius: var(--cmp-radius);
  background-color: var(--cmp-bg);
  color: var(--cmp-fg);
  border: 1px solid var(--cmp-border);
  height: 25px;
  padding: 1px 0 0 3px;
  line-height: 1;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;

  &:focus-within,
  &:has(*[data-focus="true"]) {
    box-shadow: var(--cmp-focus-shadow) !important;
  }

  &[data-error='true'] {
    color: var(--error-fg);
    > input {
      color: var(--error-fg);
    }
  }

  &:has(> input:disabled) {
    border-color: transparent;
  }

  > input {
    color: var(--primary-fg);
    border: none;
    background: none;
    font-size: 90%;
    &:focus,
    &[data-focus="true"] {
      outline: none;
    }
    &:disabled {
      color: var(--cmp-disabled-fg);
    }
  }

  > input:focus + button,
  > input[data-focus="true"] + button,
  > input:focus + button + button,
  > input[data-focus="true"] + button + button,
  &:hover > button {
    display: flex;
  }

  > button {
    width: 13px;
    display: none;
    align-items: center;
    background: none;
    padding: 0;
    border: none;
    color: var(--cmp-fg);
    background: var(--cmp-bg);;

    &:hover {
      background-color: var(--cmp-hover-bg);
    }
  }

  &::after {
    content: '';
    position: absolute;
    border-radius: 4px;
    inset: -1px;
    pointer-events: none;
  }
}

.cmp-number-input__label {
  font-size: 11px;
  margin-top: -1px;
  margin-right: 0.15rem;
  color: var(--cmp-fg);
  width: 15px;
  border-right: 1px solid var(--cmp-border);
}

.cmp-number-input__btn-up {
  position: absolute;
  right: 0;
  top: 0;
  height: 12px;
  border-bottom: 1px solid var(--cmp-border) !important;
  border-left: 1px solid var(--cmp-border) !important;
  &:disabled {
    color: var(--cmp-disabled-fg);
  }
}

.cmp-number-input__btn_down {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 11px;
  border-left: 1px solid var(--cmp-border) !important;
  &:disabled {
    color: var(--cmp-disabled-fg);
  }
}