.cmp-popover {
  border-radius: 4px;
  padding: 20px;
  width: 300px;
  background-color: var(--secondary-bg);
  box-shadow: var(--popover-shadow);
  border: 1px solid var(--popover-border);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  z-index: 100;
  color: var(--secondary-fg);
  font-size: 12px;
  margin-right: 0.2rem;

  /* TODO: Unclear what this is for? */
  .cmp-panel__enabled:focus {
    box-shadow: none;
    outline: none;
  }

  &[data-state='open'][data-side='top'] {
    animation-name: slideDownAndFade;
  }
  &[data-state='open'][data-side='right'] {
    animation-name: slideLeftAndFade;
  }
  &[data-state='open'][data-side='bottom'] {
    animation-name: slideUpAndFade;
  }
  &[data-state='open'][data-side='left'] {
    animation-name: slideRightAndFade;
  }

  .cmp-popover__arrow {
    fill: var(--secondary-bg);
    transform: translateX(-0.2rem);
  }

  .cmp-popover__close {
    font-family: inherit;
    background: transparent;
    height: 25px;
    width: 25px;
    align-items: center;
    justify-content: center;
    color: var(--blue-12);
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 200;
    border: none;
    &:hover {
      color: var(--blue-11);
    }
    &:focus {
      color: var(--blue-11);
    }
  }

  & h2:first-of-type {
    margin-top: 0;
    margin-bottom: 0.25rem;
    font-size: 0.8rem;
    text-align: left;
  }
}