.cmp-select-trigger {
  display: inline-flex;
  align-items: center;
  justify-content: left;
  border-radius: var(--cmp-radius);
  padding: 0 5px;
  font-size: 11px;
  line-height: 1;
  height: 25px;
  gap: 5px;
  border: 1px solid var(--cmp-border);
  background-color: var(--cmp-bg);
  color: var(--cmp-fg);

  &:hover:not(:disabled),
  &[data-hover="true"] {
    background-color: var(--cmp-hover-bg);
  }

  &:focus:not(:disabled),
  &[data-focus="true"] {
    outline: none;
    box-shadow: var(--cmp-focus-shadow);
  }

  &:disabled {
    color: var(--cmp-disabled-fg);
  }

  .trigger__icon {
    color: var(--secondary-fg);
    margin-left: auto;
  }
}

.cmp-select-content {
  overflow: hidden;
  background-color: var(--cmp-hover-bg);
  z-index: 100;
  border-radius: 6px;
  border: 1px solid var(--popover-border);
  box-shadow: var(--popover-shadow);

  .cmp-select-content__viewpoint {
    padding: 5px;
  }

  .cmp-select-content__item {
    font-size: 11px;
    line-height: 1;
    color: var(--primary-fg);
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 25px;
    padding: 0 35px 0 25px;
    position: relative;
    user-select: none;

    &[data-disabled] {
      color: var(--cmp-disabled-fg);
      pointer-events: none;
    }
    &[data-highlighted] {
      outline: none;
      background-color: var(--highlight-reverse-bg);
      color: var(--highlight-reverse-fg);
    }
  }

  .cmp-select-content__item-indicator {
    position: absolute;
    left: 0;
    width: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}