.cmp-toggle-button-group {
  padding: 0;
  border-radius: var(--cmp-radius);
  background-color: var(--cmp-bg);
  border: 1px solid var(--cmp-border);
  width: fit-content !important;
  min-width: 0;

  &:not(:has(*[data-state='off'])) {
    border: 1px solid var(--cmp-focus-border);
  }

  .cmp-toggle-button-group__item {
    flex: 0 0 auto;
    color: var(--cmp-fg);
    background-color: transparent;
    height: 25px;
    padding: 0 5px;
    border-radius: 4px;
    display: inline-flex;
    font-size: 11px;
    line-height: 1;
    align-items: center;
    justify-content: center;
    margin-left: 2px;

    /* Note, this is a bit of a hack to make some icon details red */
    .svg__remove {
      path:nth-child(3), path:nth-child(4) {
        stroke: #BB0000;
      }
    }
    .svg__insert {
      path:nth-child(3), path:nth-child(4) {
        stroke: #00BB00;
      }
    }

    &:first-child {
      margin-left: 0;
    }

    &[data-state='on'] {
      background-color: var(--highlight-bg);
      color: var(--highlight-fg);
    }

    &:hover,
    &[data-hover='true'] {
      background-color: var(--highlight-bg);
      color: var(--highlight-fg);
    }

    &:focus,
    &[data-focus="true"]{
      position: relative;
      outline: none;
      box-shadow: var(--cmp-focus-shadow);
    }

    &:disabled {
      color: var(--cmp-disabled-fg);
      /* TODO: Is there a better way to disable hover when in disabled state */
      pointer-events: none;
      & > svg > path:nth-child(n + 2) {
        stroke: currentColor !important;
      }
    }
  }
}

