.cmp-tree {
  display: grid;
  grid-template-columns: 1fr 0.5fr min-content;
  grid-template-rows: 1fr;

  font-size: 11px;

  .cmp-tree__node {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    align-items: center;
    padding: 2px 2px 2px 0.5rem;

    border-bottom: 1px dashed var(--cmp-border);
  }
  .cmp-tree__node:last-child {
    border-bottom: none;
  }
  .cmp-tree__node[data-state='on'] {
    color: var(--highlight-fg);
  }
  .cmp-tree__node[data-state='child'] {
    color: var(--highlight-fg);
    .cmp-tree__node__label {
      font-style: italic;
    }
  }

  .cmp-tree__node__action {
    display: flex;
    justify-self: end;
    padding-right: 0.25rem;
    margin-top: 0.2rem;
  }

  .cmp-tree__node[data-depth="1"] > .cmp-tree__node__label {
    margin-left: 0.5rem;
  }
  .cmp-tree__node[data-depth="2"] > .cmp-tree__node__label {
    margin-left: 1rem;
  }
  .cmp-tree__node[data-depth="3"] > .cmp-tree__node__label {
    margin-left: 1.5rem;
  }
  .cmp-tree__node[data-depth="4"] > .cmp-tree__node__label {
    margin-left: 2rem;
  }
  .cmp-tree__node[data-depth="5"] > .cmp-tree__node__label {
    margin-left: 2.5rem;
  }
  .cmp-tree__node[data-depth="6"] > .cmp-tree__node__label {
    margin-left: 3rem;
  }
  .cmp-tree__node[data-depth="7"] > .cmp-tree__node__label {
    margin-left: 3.5rem;
  }
  .cmp-tree__node[data-depth="8"] > .cmp-tree__node__label {
    margin-left: 4rem;
  }

  .cmp-tree__node__label {
    display: flex;
    align-items: center;
  }

  .cmp-tree__node__label__toggle {
    aspect-ratio: 1;
    width: 10px;
    margin-top: 2px;
    margin-right: 0.35rem;

    > button {
      cursor: pointer;
      border: 0;
      padding: 0;
      background: none;
      color: var(--primary-fg);
    }
  }
}