@import '@radix-ui/colors/slate.css';
@import '@radix-ui/colors/slate-dark.css';
@import '@radix-ui/colors/blue.css';
@import '@radix-ui/colors/blue-dark.css';

@import '@radix-ui/colors/black-alpha.css';


#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


#app {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;

  display: grid;
  grid-template-areas: "menu menu menu menu menu"
    "toolbar toolbar toolbar toolbar toolbar"
    "left-buttons left middle right right-buttons";
  grid-template-columns: 40px minmax(15rem, 1fr) 5fr minmax(15rem, 1fr) 40px;
  grid-template-rows: 40px 50px 1fr;
}

#menu {
  grid-area: menu;
  background: var(--slate-2);
}

#toolbar {
  grid-area: toolbar;
  display: flex;
  background: var(--slate-2);
  border-top: 2px solid var(--slate-1);
  border-bottom: 2px solid var(--slate-1);
  padding: 0.2rem;
  padding-left: 0.5rem;
}

#left-buttons {
  grid-area: left-buttons;
  background: var(--slate-2);
  border-right: 2px solid var(--slate-1);
  padding: 0.5rem 0.2rem 0.2rem 0.2rem;
}

#left {
  grid-area: left;
  background: var(--slate-2);
  border-right: 1px solid var(--slate-1);
}

#right-buttons {
  grid-area: right-buttons;
  background: var(--slate-2);
  border-left: 2px solid var(--slate-1);
  padding: 0.5rem 0.2rem 0.2rem 0.2rem;
}

#right {
  grid-area: right;
  background: var(--slate-2);
  border-left: 1px solid var(--slate-1);
}

#middle {
  grid-area: middle;
  position: relative;
}

#middle svg {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: var(--slate-2);
  height: 100%;
  width: 100%;
}


/* Components */
.cmp-toolbar-button {
  padding: 0.4rem;
  border-radius: 0.4rem;
  margin-bottom: 0.2rem;
  background: var(--slate-2);
  margin-right: 0.1rem;
  margin-left: 0.1rem;
}
.cmp-toolbar-button svg {
  display: block;
  margin: auto;
}
.cmp-toolbar-button--selected {
  border: 2px solid var(--blue-4);
  color: var(--slate-12);
}
.cmp-toolbar-button--selected svg {
}
.cmp-toolbar-button:hover {
  background-color: var(--blue-3);
  color: var(--slate-12);
}

.cmp-toolbar-group,
.cmp-toolbar-group__content{
  display: flex;
  align-items: center;
}
.cmp-toolbar-group__label {
  font-size: 13px;
  margin-right: 0.5rem;
}


.cmp-tool-window-button {
  padding: 0.4rem;
  border-radius: 0.2rem;
  margin-bottom: 0.2rem;
}
.cmp-tool-window-button svg {
  display: block;
  margin: auto;
}
.cmp-tool-window-button--selected svg {
  color: var(--blue-11);
}

.cmp-tool-window-button:hover {
  background: var(--slate-4);
}

.cmp-tool-window-layer__element {
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
}

.cmp-tool-window-layer__element--selected {
  background: var(--slate-5);
  border-radius: 0.25rem;
}

.cmp-tool-window-accordion {
  border-bottom: 2px solid var(--slate-1);
  font-size: 12px;
}

.cmp-tool-window-accordion__header {
  background: var(--slate-2);
  text-align: left;
  padding: 0.5rem;
  font-weight: bold;
  display: flex;
}
.cmp-tool-window-accordion__header > svg {
  width: 1rem;
}

.cmp-tool-window-accordion__content {
  background: var(--slate-2);
  text-align: left;
  padding: 0.5rem 0.5rem 1rem;
}


dl {
  display: grid;
  grid-template: auto / 1fr 2fr;
  margin: 0;
}

dt {
  font-weight: bold;
  text-align: right;
  padding-right: .5em;
}
dd {}

dt, dd {
  margin: 0;
  padding: .3em .5em;
  border-top: 1px solid rgba(0,0,0,.1);
}


/* SVG Document */
.documentBounds {
  fill: white;
  stroke: #1c1917;
  stroke-width: 1;
  filter: drop-shadow(2px 2px 4px rgba(27, 25, 23, 0.05));
}

.grid {
  stroke-width: 1;
}
.grid--minor {
  stroke: #f5f5f4;
}
.grid--major {
  stroke: #e7e5e4;
}

/* Node */
.node {
  fill: #e2e8f0;
  stroke: #64748b;
  stroke-width: 1;
  filter: drop-shadow(2px 2px 4px rgba(103, 116, 137, 0.1));
  cursor: move;
}
.node:hover {
  filter: drop-shadow(2px 2px 4px rgba(103, 116, 137, 0.25));
}

/* Selection */
.selection-bb {
  stroke-width: 1;
  stroke: #1d4ed8;
}
.selection-bb--only-edges {
  stroke: #a8a29e;
  stroke-dasharray: 5 5;
}
.selection-handle {
  fill: white;
  stroke-width: 1;
  stroke: #1d4ed8;
}
.selection-edge-handle {
  fill: white;
  stroke-width: 1;
  stroke: #1d4ed8;
  cursor: move
}
.selection-handle:hover,
.selection-handle--active,
.selection-edge-handle:hover,
.selection-edge-handle--active {
  stroke-width: 2;
}
.selection-edge-handle--connected {
  stroke: #16a34a;
  fill: #16a34a;
}



/* ******* MENU stuff - remove later ********* */

.ContextMenuContent,
.ContextMenuSubContent {
  min-width: 220px;
  background-color: var(--slate-2);
  border-radius: 6px;
  overflow: hidden;
  padding: 5px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.ContextMenuItem,
.ContextMenuCheckboxItem,
.ContextMenuRadioItem,
.ContextMenuSubTrigger {
  font-size: 13px;
  line-height: 1;
  color: var(--blue-12);
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 5px;
  position: relative;
  padding-left: 25px;
  user-select: none;
  outline: none;
}
.ContextMenuSubTrigger[data-state='open'] {
  background-color: var(--blue-4);
  color: var(--blue-12);
}
.ContextMenuItem[data-disabled],
.ContextMenuCheckboxItem[data-disabled],
.ContextMenuRadioItem[data-disabled],
.ContextMenuSubTrigger[data-disabled] {
  color: var(--slate-8);
  pointer-events: 'none';
}
.ContextMenuItem[data-highlighted],
.ContextMenuCheckboxItem[data-highlighted],
.ContextMenuRadioItem[data-highlighted],
.ContextMenuSubTrigger[data-highlighted] {
  background-color: var(--blue-9);
  color: var(--blue-1);
}

.ContextMenuLabel {
  padding-left: 25px;
  font-size: 12px;
  line-height: 25px;
  color: var(--slate-11);
}

.ContextMenuSeparator {
  height: 1px;
  background-color: var(--blue-6);
  margin: 5px;
}

.ContextMenuItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.RightSlot {
  margin-left: auto;
  padding-left: 20px;
  color: var(--slate-11);
}
[data-highlighted] > .RightSlot {
  color: white;
}
[data-disabled] .RightSlot {
  color: var(--slate-8);
}

/* ************* Toolbar styles */
.ToolbarRoot {
  display: flex;
  padding: 10px;
  width: 100%;
  min-width: max-content;
  border-radius: 6px;
  background-color: var(--slate-2);
  box-shadow: 0 2px 10px var(--black-a7);
}

.ToolbarToggleItem,
.ToolbarLink,
.ToolbarButton {
  flex: 0 0 auto;
  color: var(--slate-11);
  height: 25px;
  padding: 0 5px;
  border-radius: 4px;
  display: inline-flex;
  font-size: 13px;
  line-height: 1;
  align-items: center;
  justify-content: center;
}
.ToolbarToggleItem:hover,
.ToolbarLink:hover,
.ToolbarButton:hover {
  background-color: var(--blue-3);
  color: var(--blue-11);
}
.ToolbarToggleItem:focus,
.ToolbarLink:focus,
.ToolbarButton:focus {
  position: relative;
  box-shadow: 0 0 0 2px var(--blue-7);
}

.ToolbarToggleItem:disabled,
.ToolbarLink:disabled,
.ToolbarButton:disabled {
  color: var(--slate-8);
  /* TODO: Is there a better way to disable hover when in disabled state */
  pointer-events: none;
}


.ToolbarToggleItem {
  background-color: var(--slate-2);
  margin-left: 2px;
}
.ToolbarToggleItem:first-child {
  margin-left: 0;
}
.ToolbarToggleItem[data-state='on'] {
  background-color: var(--slate-1 );
  color: var(--blue-11);
}

.ToolbarSeparator {
  width: 1px;
  background-color: var(--slate-6);
  margin: 0 10px;
}

.ToolbarLink {
  background-color: transparent;
  color: var(--slate-11);
  display: none;
  justify-content: center;
  align-items: center;
}
.ToolbarLink:hover {
  background-color: transparent;
  cursor: pointer;
}
@media (min-width: 520px) {
  .ToolbarLink {
    display: inline-flex;
  }
}

.ToolbarButton {
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}
.ToolbarButton:hover {
  background-color: var(--blue-10);
  color: white;
}